body{
    font-family: Tahoma;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}
#menu_top{
    background-color: #cccccc;
    height:60px;
}
#menu_top{
    float:right;
}
input[name=pwd]{
    float: left;
    width: 250px;
    color: deeppink;
}