body{
    font-family: Tahoma;
    width: 1250px;
    margin: 0px auto;
    font: 13px "Arial", Helvetica, sans-serif;
}

#menu_top {
    background:#4CD4CB;
    height: 60px;
}
.top-menu .topnav li {

    float: left;
    border-right: 1px #fafafa solid;
    width: 16.15%;
    height: 50px;
}
.top-menu{
    height: 60px;
    background: #00adb5;
}
.top1{
    text-align: justify;
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    margin-left: auto;
}
.top-menu .topnav {
    width: 1140px;
    font-family: Tahoma;
}

.top-menu .topnav li a {
    display: block;
    padding: 11px 15px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    font-family: UTMSwissCondensed;
}

#banner {
    height: auto;
    width: 1250px;
    float:left;
    font-size: 17px;

}
#login {
    width: 1040px;
    height: 85px;
    margin: 0 auto;
}
#login .col-md-12 {
    background-color: #fafafa;
}
#login .col-md-3{
    float: left;
    margin-left: 50px;
    margin-top: 0px
}
#login .col-md-1 {
    float: right;
    margin-top: 8px;
    margin-right: 77px;
}
#login .col-md-4 {
    width: 33.33333333%;
    margin-top: 15px;
}
#main #left{
    width: 850px;
    float: left;
    min-height: 400px;
}

#main #right{
    width:400px;
    min-height: 500px;
    float:left;
}

#footer{
    background:#00C5CD;
    width:1250px;
    height: 328px;
    color: #FFF;
    clear: left;
    font-size:20px;
    line-hight: 60px;
}

#menu_top ul{
    margin: 0px;
    padding:0px;
    font-size: 20px;
}

#menu_top ul li{
    list-style: none;
    float:left;
    width: 207px;
}

#menu_top ul li a {
    display: block;
    height: 60px;
    color:#FFF;
    padding: 15px 2px 0px 18px;
    border-right: 1px solid #f1f1f1;
    text-align: center;
    font-size: 25px;
}

#banner img{
    width:1250px;
    height:500px;
    border: 0px;
    box-shadow: 0px 0px 1px 0px ;
}

#main #left ul{
    margin: 0px;
    padding: 1px 4px 2px 6px;
}

#main #left ul li{
    list-style: none;
    margin-bottom: 0px;
    font-size: 17px;
}

#main{
    margin-top: 10px;
    font-size:17px;

}

#main #right{
    height:1076px;
    background-color:#20D4D4;
    float:left;

}

#main #right .menu_right ul{
    margin: -14px 0px 0px 0px;
    padding: 0px;
    border: 1px solid #ccc;
}

#main #right .menu_right ul li {
    list-style: none;
}

#main #right .menu_right ul li a{
    display: block;
    text-decoration: none;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    text-indent: 35px;
    color: #23527c;
}
#main #right .menu_right ul li a:hover {
    color:red;
}

#main #right .menu_right h2{
    background-color: #1b6d85;
    height: 49px;
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
    text-indent: 0px;
}

#main #right .menu_right h4{
    font-size: 15px;
}
#main #right .menu_right p{
    background-color:#20D4D4;
    width: 90%;
    text-align: center;
}
#main #right .menu_right p .form-control {
    text-align: center;
}
#footer map{
    background-color: #4cae4c;
    height: 80px;
    margin-top: 0px;
    text-align: center;
    float: left;
}